body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 40px;
}

canvas {
    width: 100% !important;
    height: 400px !important;
}

ul {
    list-style-type: none;
    padding: 0;
}
